<header class="header">
    <img src="/images/logo.png" alt="logo1">
    <div class="login-button" *ngIf="!mostrarLogin && !isLoggedIn">
        <button type="submit" class="btn-ingresar" (click)="showLogin()">Ingresar</button>
    </div>
    <div class="login-block" *ngIf="mostrarLogin && !isLoggedIn">
        <app-login (loginSuccess)="onLoginSuccess($event)" (loginError)="onLoginError($event)"></app-login>
    </div>
    <div class="welcome-block" *ngIf="isLoggedIn">
        <p>Bienvenido, {{ usuario }}</p>
        <button (click)="logout()">Salir</button>
    </div>
    <div class="nav-container">
        <nav class="nav">
            <ul id="items">
                <li><a routerLink="/main" routerLinkActive="active">Bonos</a></li>
                <li><a routerLink="/estadisticas" routerLinkActive="active">Estadísticas</a></li>
                <li><a routerLink="/listados" routerLinkActive="active">Listados</a></li>
                <li><a routerLink="/bajar" routerLinkActive="active">Bajar</a></li>
            </ul>
        </nav>
    </div>
</header>
