footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    margin-top: 50px;
}

.footer-container {
    max-width: 600px;
    margin: 0 auto;
}

.footer-container p, .footer-container h4 {
    margin: 5px 0;
    color: white;
}

