<div class="main-container">
    <div class="cargar-bono-container">
        <h1>Cargar Bono</h1>

        <label for="numero">Número:</label>
        <input type="number" id="numero"/>
        <button type="button">Cargar</button>
    </div>

    <div class="ver-ganador-container">
        <h1>Ver Ganador</h1>

        <label for="numero">Número:</label>
        <input type="number" id="numero"/>
        <button type="button">Ver</button>
    </div>
</div>
<div class="overlay-cargar">

</div>
<div class="overlay-ganador">

</div>
