<div class="back-container">
    <a routerLink="/menu"><--Regresar al Menú</a>
</div>
<div class="container">
    <div class="cargar-cancelado-container">
        <h1>Carga Bono Cancelado</h1>

        <label for="numcancel">Nº de bono Pagado en su totalidad:</label>
        <input type="number" id="numcancel" [(ngModel)]="numeroCancelado"/>
        <button type="button" (click)="cargarBonoCancelado()">Carga Para Jugar</button>

        <p *ngIf="mensaje" class="mensaje">{{ mensaje }}</p>
    </div>
</div>
